extends layout

block content
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://code.highcharts.com/highcharts.js")
    script(src="https://code.highcharts.com/modules/exporting.js")
    script(src="https://code.highcharts.com/modules/export-data.js")
    h1= title
    div(id='information' style='display: none')= information
    each chart, key in charts
        div.containers(id='container#{key}' style="min-width: 310px; height: 300px; max-width: 30%; display: inline-block; margin: 0 auto")



    script.
        // Build the chart
        let loop = document.querySelectorAll('.containers').length;
        for (let i = 0; i < loop; i++) {
            let information = document.querySelector('#information').innerHTML;
            information = JSON.parse(information);
            information = information[i];
            Highcharts.chart('container' + i, {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                legend: false,
                title: {
                    text: 'Browser market shares in January, 2018'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>${point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: information
                }]
            });
        }


