doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/navbar.css')
    body
        .header
            img(src='/images/homepage-models.jpg')
        .navbarFOReal
            .navbarOptions
                .navbarOption
                    a(class="active" href="#home") Home
                .navbarOption
                    a(href="/pastMonth") Past Month
                .navbarOption
                    a(href="/pastThreeMonths") Past Three Months
                .navbarOption
                    a(href="/allTransactions") All Transactions
                .navbarOption
                    a(href="/sortTransactions") Sort Transactions
                .navbarOption
                    a(href="/upload") Upload
        block content

