extends layout

block content
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    #information= data
    table#example

    script.
        let data = JSON.parse(document.querySelector('#information').innerHTML)
        $('#example').DataTable({
            data: data,
            columns: [
                {data: 'Date', title: 'Date'},
                {data: 'Description', title: 'Description'},
                {data: 'Debit', title: 'Debit'},
                {data: 'Credit', title: 'Credit'}
            ]
        });