.navbarOptions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.navbarOption {
    float: left;
}

.navbarOption a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarOption a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.header{
    height: 300px;
    overflow: hidden;
}

img {
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}